body { background-color: #F1F4EC; font-family: sans-serif; margin: 20px; }
.grid-item { margin-bottom: 10px; float: left; width: 48%; }
.grid-item img { width: 100%; display: block; border-radius: 4px; height: auto; }

.banner {
    display: flex;
    justify-content: center;
    color: #8AAA41;
}

@media (min-width: 900px) { .grid-item { width: 31%; } }
img[loading="lazy"] { filter: blur(5px); transition: filter 0.5s ease; }
img[loading="lazy"]:not([src=""]) { filter: blur(0); }